.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  width: 100%;
  height: 70px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.nav-link {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  opacity: 0.7;
}

button {
  font-size: calc(10px + 2vmin);
}

.hamster-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.hamster-list-items {
  cursor: pointer;
  list-style: none;
}

.hamsters-img {
  width: 200px;
  height: 200px;
}

.hamster-name {
  font-style: italic;
  margin: 10px 0;
}

.add-hamster-header {
  margin-top: 30px ;
}

.add-hamster-input {
  /* margin: 20px 0; */
  margin-bottom: 30px;
}

.form-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.add-button {
  font-size: 16px;
  margin-bottom: 20px;
}
.form-validation-err {
  font-size: 13px;
  color: red;
}

.closed-info-container {
  display: none;
}

.info-container {
  min-width: 200px;
  min-height: 200px;
  background: #111;
  color: #fff;
  z-index: 1000;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header {
  margin: 10px;
}

.info-text {
  margin: 0px 10px 10px 10px;
}

.close-info {
  font-size: 16px;
  background: #111;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 20%;
  border-radius: 5px;
}

.compete-area {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.closed-compete-area {
  display: none;
}

.first-winner {
  min-width: 280px;
  min-height: 100px;
  background: rgb(8, 198, 5);
  color: #111;
  z-index: 1000;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.second-winner {
  min-width: 280px;
  min-height: 100px;
  background: rgb(8, 198, 5);
  color: #111;
  z-index: 1000;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.hamsters {
  margin: 50px;
}

.not-clickable {
  pointer-events: none;
  background: #111;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 100%;
}

.fight-button {
  font-size: 18px;
  background: #ffad33;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  font-style: italic;
}

.hamsters {
  cursor: pointer;
}

.hamster-front-page {
  min-width: 300px;
  font-size: 16px;
  font-style: italic;
  color: #ffd700;
  border-radius: 20px;
  background-color: #111;
}

.website-explanation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}