.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.hamster-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.hamster-list-items {
  list-style: none;
}

.hamsters-img {
  width: 200px;
  height: 200px;
}

.hamster-name {
  font-style: italic;
  margin: 10px 0;
}

.add-hamster-header {
  margin-top: 30px ;
}

.add-hamster-input {
  /* margin: 20px 0; */
  margin-bottom: 30px;
}

.form-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.add-button {
  font-size: 16px;
  margin-bottom: 20px;
}
.form-validation-err {
  font-size: 13px;
  color: red;
}

.closed-info-container {
  display: none;
}

.info-container {
  min-width: 100px;
  min-height: 100px;
  background: #111;
  color: #fff;
  z-index: 1000;
  position: fixed;
  top: 400px;
  right: 700px;
}

.info-text {
  margin: 10px 20px;
}
.close-info {
  font-size: 16px;
}